.description_block {
    padding: 10px;
}

.main_photo {
    max-width: 200px;
}

.contact {
    padding-left: 10px;
}

.form_summary_error {
    border: 1px solid red;
    padding: 5px;
    color: red;
}